/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap'); */

/* applies to all */
#rootPane {
	-fx-font-family: Tektur;
	-fx-font-family: "Agency FB", "Bahnschrift", sans-serif;
	/*-fx-font-family: "Courier New"; */
	-fx-background-color: #fff;
	-fx-padding: 10.0 10.0;
}

/* nav header */
.nav-header {
	-fx-background-color: #fff;
	-fx-padding: 20.0;
	-fx-background-radius: 6.0px;
	-fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.5), 10.0, -5.0, 0, 0);	
}

/* logo */
.logo-name {
	-fx-font-size: 20.0px; 
	-fx-font-weight: bold; 
	-fx-text-fill: #1E1E1E;
}

.logo-msg {
	-fx-font-size: 13.0px; 
	-fx-text-fill: #888;
}

/* Center container background */
.phone-layout {
	-fx-background-color: #fff;
	-fx-padding: 10.0 0.0 0.0 0.0;
	-fx-border-color: transparent;
}

/* welcome text container */
.header {
	-fx-padding: 10.0 20.0 10.0 20.0;
}

.welcome-hi {
	-fx-text-fill: #222;
	-fx-font-size: 13.0px;
}

.welcome-name {
	-fx-text-fill: #007e7e;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;
	-fx-cursor: hand;
}

.welcome-sub {
	-fx-text-fill: #777;
	-fx-font-size: 12.0px;
}

/* notifications */
.notif-btn {
	-fx-backgroung-color: transparent;
	-fx-cursor: hand;
	-fx-padding: 5.0;
	-fx-alignment: center;
	-fx-border-radius: 10.0;
}

.notfi-btn:hover {
	-fx-scale-x: 1.05;
	-fx-scale-y: 1.05;
}

.notif-btn .red-dot {
	-fx-background-color: #e63946;
	-fx-background-radius: 50.0%;
	-fx-min-width: 10.0;
	-fx-min-height: 10.0;
	-fx-max-width: 10.0;
	-fx-max-height: 10.0;
	-fx-translate-x: 10.0;
	-fx-translate-y: -8.0;
}

/* Bank Card styles */
.bank-card {
	-fx-background-color: linear-gradient(to right, #FDDA0D, #FFBF00);
	-fx-padding: 5.0 20.0;
	-fx-background-radius: 6.0;
	/* -fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.2), 4.0, 0.0, 0.0, 2.0); */
	-fx-min-height: 200.0;
}

/* bank-logo */
.bank-logo {
	-fx-font-size: 16.0px;
	-fx-text-fill: #097969;
	-fx-text-fill: #004c4c;
}

/* BANK balance */
.balance-amount {
	-fx-font-size: 26.0px;
	-fx-text-fill: #088F8F;
	-fx-text-fill: #005f9e;
	
	-fx-font-weight: bold;
}

/* IBAN text */
.iban-text {
	-fx-font-size: 16.0px;
	-fx-text-fill: #097969;
	-fx-text-fill: #004c4c;
	
}

/* holder's label */
.account-holder {
	-fx-text-fill: #6082B6;
	-fx-text-fill: #006666;
	-fx-font-size: 16.0px;
}

/* buttons */
.action-btn {
	-fx-background-color: linear-gradient(to bottom right, #4e54c8, #8f94fb);
	
	-fx-text-fill: white;
	-fx-font-size: 15.0px;
	-fx-padding: 10.0 20.0;
	-fx-background-radius: 6;
	-fx-cursor: hand;
	-fx-pref-width: 250.0px;
	/*-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.2), 5.0, 0.0, 0.0, 2.0); */
}

/* on hover */
.action-btn:hover {
	-fx-background-color: #3e44b8;
	-fx-background-color: linear-gradient(to bottom right, #5f63d3, #9da2ff);
}

/* recent trasactions section */
.section-title {
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
	-fx-text-fill: #000;
}

/* transactions list */
#transactionsList {
	-fx-background-radius: 6px;
	-fx-border-radius: 10.0;
	-fx-border-color: #ddd;
	-fx-border-width: 2.0;
}


/* headers on transactions */
.tx-title {
	-fx-font-size: 15.0px;
	-fx-text-fill: #222;
}

.tx-date {
	-fx-font-size: 12.0px;
	-fx-text-fill: #888;
}

.tx-amount {
	-fx-font-size: 15.0px;
	-fx-text-fill: #4e54c8;
}

/* list-view & list-cells styles */
.list-view {
	-fx-background-insets: 0.0;
	-fx-control-inner-background: white;
	-fx-background-color: white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.list-cell {
	-fx-background-color: white;
	-fx-padding: 10.0;
	-fx-border-color: transparent transparent #e0e0e0 transparent;
}

.list-cell:selected {
	-fx-background-color: #f4f4f4;
	-fx-text-fill: inherit;
}

.list-cell:hover {
	-fx-background-color: #f0f6ff;
}


/* footer */
.footer-nav {
	-fx-background-color: #FAF9F6;
	-fx-background-color: #E5E4E2;
	-fx-background-color: #fff;
	
	-fx-padding: 10.0;
	-fx-background-radius: 6px;
	-fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.5), 8.0, 0.0, 0, 0);
}

/* buttons styles */
.nav-btn {
	-fx-cursor: hand;
	-fx-border-color: transparent;
	-fx-padding: 10.0;
	-fx-background-color: transparent;
}

/* vbox hover */
.nav-btn:hover {
	-fx-border-radius: 10.0px;
	-fx-padding: 10.0;
	-fx-background-color: #f0f6ff;
	-fx-background-radius: 10.0px;
}

/* nav-icon */
.nav-icon {
	-fx-font-size: 20.0px;
}

/* nav btn text */
.nav-label {
	-fx-text-fill: #000;
	-fx-font-size: 15.0px;
}
